<div style="float: left; width: 19%; height: 91%; background-color: rgb(146, 146, 146); color: lightgrey; font-size: 2em; text-align: center; font-family: sans-serif">
    Multiupload
</div>
<div style="float: left; width: 80%; font-color: lightgrey; margin-left: 10px; margin-top: -10px;">
    <form action="/upload" method="POST" enctype="multipart/form-data" style="margin: 40px">
        <input type="file" accept="*/*" name="upl" multiple id="files" style="font-size: 1.3em;">
        <button type="submit" style="font-size: 1.3em;">Wyślij</button>
    </form>
</div>